.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}

.SideBar {
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #ccc;
}

.SideBar button {
  padding: 10px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: none;
}

.ModifyBox {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
}

.ModifyBox h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.ModifyBox form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.ModifyBox form label {
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

.ModifyBox form input {
  padding: 12px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.ModifyBox button {
  padding: 12px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  width: 100%;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}
